@media screen and (min-width: 1158px) {
    .conteiner {
        padding-left: 15px;
        padding-right: 15px;
        width: 1158px;
    }
    /* ======================<<<HEADER>>>====================== */
.nav-menu {
    margin-left: 76px;
}    
.contact-info {
    margin-left: auto;
    font-style: normal;
}

.contacts-item:last-child {
    margin-left: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
}
    /* ======================<<<HEADER>>>====================== */

    /* ======================<<<SECTION HERO>>>====================== */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-desktop.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    (min-resolution: 192dpi) and (min-width: 1158px) {
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-desktop@2x.jpg);
    }
}
.hero-title {
    margin-bottom: 48px;
}
                
    /* ======================<<<SECTION HERO>>>====================== */
        
    /* ======================<<<SECTION ABOUT>>>====================== */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-list {
    gap: 24px;
}
.about-list-item {
    flex-basis: calc((100% - 72px) / 4);
}
.about-icon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: rgba(244, 244, 253, 1);

}
    /* ======================<<<SECTION ABOUT>>>====================== */
/* ======================<<<SECTION OURWORK>>>====================== */

.ourwork {
    padding-top: 120px;
    padding-bottom: 120px;
}
.ourwork-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color);
}
.ourwork-list {
    display: flex;
    gap: 24px;
}
.ourwork-list-item {
    flex-basis: calc((100% - 48px) / 3);
} 
/* ======================<<<SECTION OURWORK>>>====================== */
/* ======================<<<SECTION OURTEAM>>>====================== */
.ourteam {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourteam-card {
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 8px;
}
/* ======================<<<SECTION OURTEAM>>>====================== */
/* ======================<<<SECTION CUSTOMERS>>>====================== */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    gap: 24px;
}
.customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
}
/* ======================<<<SECTION CUSTOMERS>>>====================== */

/* ======================<<<FOOTER>>>====================== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-box {
    margin-right: 120px;

}
.subscribe-wrapper {
    margin-left: auto;
}
/* ======================<<<FOOTER>>>====================== */
}