@media screen and (max-width: 1157px) {
    .ourwork {
        display: none;
    }
    .about-icon-card {
        display: none;
        }

}
@media screen and (min-width: 768px) {
    .conteiner {
        width: 768px;
    }
    .mobile-menu-open {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .about-icon-card {
        display: none;
    }

    
    /* ======================<<<HEADER>>>====================== */
.page-header {
    padding: 0;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: flex;
    align-items: center;

    margin-left: 120px;
}
.nav-item:not(:first-child) {
    margin-left: 40px;

}
.nav-link {
    color: var(--secondary-color);
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-color);
}
.contact-info {
    font-style: normal;
}
.contacts-item:first-child {
    margin-bottom: 12px;
}
.contacts-link {
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--active-color);
}
.logo-header,
.nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
}
.current {
    position: relative;
    color: #404BBF;
}
.nav-link.current:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;


    content: '';
    background: #404BBF;
    border-radius: 2px;
}
    /* ======================<<<HEADER>>>====================== */

    /* ======================<<<SECTION HERO>>>====================== */
.hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-tablet.jpg);
    
    }
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px) {
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg-tablet@2x.jpg);
    }
}
   
.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07em;
}
    /* ======================<<<SECTION HERO>>>====================== */

    /* ======================<<<SECTION ABOUT>>>====================== */

.about-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;

}
.about-list-item {
    flex-basis: calc((100% - 24px) / 2);
}
.about-list-item:not(:last-child) {
    margin-bottom: 0;

}
.about-list-title {
    text-align: start;
}
    /* ======================<<<SECTION ABOUT>>>====================== */

/* ======================<<<SECTION OURTEAM>>>====================== */
.ourteam-conteiner {
    padding-left: 108px;
    padding-right: 108px;
}
.ourteam-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
.ourteam-card {
    flex-basis: calc((100% - 24px) / 2);
}
.ourteam-card:not(:last-child) {
    margin-bottom: 0;
}
/* ======================<<<SECTION OURTEAM>>>====================== */
/* ======================<<<SECTION CUSTOMERS>>>====================== */
.customers-conteiner {
    padding-left: 92px;
    padding-right: 92px;
}
.customers-list {
    column-gap: 24px;
    }
.customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
}
/* ======================<<<SECTION CUSTOMERS>>>====================== */

/* ======================<<<FOOTER>>>====================== */
.footer-conteiner {
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;

    align-items:baseline;
    column-gap: 24px;
    row-gap: 72px;
}
.footer-box {
    text-align: start;
    /* margin-right: 120px; */
}
.social-box-title {
    text-align: start;
}
.footer-subscribe-form {
    
    flex-direction: row;
    gap: 24px;
}
.subscribe-form-subtitle {
    text-align: start;
}
.subscribe-form-input {
    width: 264px;
}
/* ======================<<<FOOTER>>>====================== */
    
}